<!--
{{ ansible_managed }}
-->

<network>
  <name>default</name>
  <uuid>b5db325d-4858-4314-aee7-b77c728d6754</uuid>
  <forward mode='nat'/>
  <bridge name='virbr0' stp='on' delay='0'/>
  <mac address='52:54:00:82:89:50'/>
  <ip address='192.168.122.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.122.2' end='192.168.122.254'/>
      <host mac='52:54:00:23:cc:aa' name='cos1' ip='192.168.122.101'/>
    </dhcp>
  </ip>
</network>
